
<div class="row">
    <div class="cart-wrapper">
       
            <a class="btn btn-danger" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
            Cart
            </a>
   
        <div class="collapse" id="collapseExample">
            <table class="table">
                <tr>
                    <th>Item</th>
                    <th>Price</th>
                    <th>Quantity</th>
                    <th>Total Price</th>
                    <th></th>
                </tr>
                <tr *ngFor="let item of cartItems; let i = index">
                    <td>
                        {{item.name}}
                    </td>
                    <td>
                        {{item.price}} INR
                    </td>
                    <td>
                        <div>
                            {{item.quantity}}
                        </div>
                    </td>
                    <td>
                        {{item.quantity * item.price}} INR
                    </td>
                </tr>
            </table>
            
        </div>
    </div>
</div>


<div class="panel-footer">
    <!--<h4>Total new {{total}}</h4>-->
</div>